@import url('./fonts/stylesheet.css');
@import url('./normalize.css');
@import url('./scafolding.css');

body {
    height: 3000px;
}

.layer {
    background-color: #323264;
    opacity: 0.7;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F5F5FA;
    border-radius: 12px;
    padding: 30px;
    width: 650px;
}

.title{
    margin-top: 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.form input {
    height: 56px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 590px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 15px;
}

.form input:nth-of-type(2) {
    margin-bottom: 30px;
    height: 130px;
    padding-bottom: 89px;
}

.form input:nth-of-type(4) {
    margin-bottom: 30px;
    
}

input[type=text]::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B3B3BA;
}

.button {
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    padding: 18px 30px;
    width: 590px;
    height: 56px;
    color: white;
    border: none;
}

.button span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.text {
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
    margin-bottom: 15px;
}

button img {
    width: 35px;
    height: 35px;
}


.closebtn {
    position: absolute;
    top: 25px;
    right: 28px;
    background: #F5F5FA;
    border: none;
        
}